.card {
	width: 230px;
	height: 340px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.3);
}
.card img {
	border-radius: 12px 12px 0 0;
	width: 100%;
	height: 60%;
	object-fit: cover;
	object-position: 50% 20%;
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	height: 40%;
}
.userName {
	font-weight: 600;
	font-size: 17px;
}

.card__info--job {
	font-size: 14px;
}

.card__info--rating {
	width: 100%;
	margin: 10px 0;
	display: flex;
	align-items: center;
}
.card__info--rating span {
	margin-left: 10px;
	font-size: 12px;
	color: #141414;
}

.seeMore {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	font-weight: 400;
	color: #fff;
	border: 1px solid #121212;
	cursor: pointer;
	background-color: #141414;
	transition: transform 0.4s ease;
}

.seeMore:hover {
	background-size: 100% 0%;
	font-weight: 600;
	transform: translateY(-3px);
}

@media (max-width: 440px) {
	.card {
		width: 100%;
		height: 400px;
	}
	.card__info--rating {
		margin: 0;
	}
}
