.filterCategory {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-radius: 12px;
	border: 1px solid #ccc;
	background-color: #fff;
	transition: transform 0.3s ease, box-shadow 0.5s ease;
	cursor: pointer;
}
.filterCategory:hover {
	transform: translateY(-3px);
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.filterCategory.clicked {
	background-color: #d8d7e1;
	box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
	transform: translateY(-3px);
}
.filterCategoryName {
	display: flex;
	align-items: center;
	gap: 10px;
}

.filterAvailable {
	width: 30px;
	height: 30px;
	min-height: 30px;
	min-width: 30px;
	margin-left: 10px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	background-color: #141414;
	color: #fff;
}

@media (max-width: 1020px) {
	.filterCategory {
		width: auto;
		min-width: 200px;
		flex: 1;
	}
}
