.app {
	width: 100%;
	padding: 0 120px;
	min-height: 100vh;
	max-width: 1440px;
}

@media (max-width: 930px) {
	.app {
		padding: 0 50px;
	}
}

@media (max-width: 495px) {
	.app {
		padding: 0 20px;
	}
}
